body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 40px;
  background-color: #fff; 
}

body.dark {
  background-color: #333;
  color: #fff
}

body.dark .main-content {
  background-color: #333;
  border-color: #666;
}

body.dark .title h2 {
  color: #A0D4ED
}

body.dark hr {
  border-top-color: #777;
}

.main-content {
  border: 1px solid #ccc;
  max-width: 700px;
  margin: 40px auto;     
  padding: 100px;         
  background-color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title h1 {
  margin: 0 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title h2 {
  margin: 0 0 10px;
  color: #006EB6;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: .75em;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  width: 90%;
  margin: 10px auto 20px;
}

.content-area {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

main p {
  text-align: left;
  margin: 15px 0;
}

main p em {
  font-style: italic;
  display: block;
  margin-top: 20px;
}

.list {
  margin: 0;
  padding-left: 20px;
}

.list li {
  margin-bottom: 12px;
  text-align: left;
}

footer {
  text-align: center;
  margin-top: 60px;
}

.logo {
  width: 150px;
  height: auto;
}

#theme {
  display: block;
  margin-bottom: 12px;
  font-size: 0.9em;
}